.testimonio{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__text{
        text-align: center;
        color: $my-article-text;
    }
    &__img{
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        border: 1px solid white;
    }
}